@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<ShopBanDo.Models.Customer>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Manage Customer" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<p></p>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item">List of customers' account : page @CurrentPage</li>
    </ol>
</nav>
<div class="row m-b-30">
    <div class="col-lg-8">
        <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Create new customer account</span></a>
    </div>
    <div class="col-lg-4 text-right">

    </div>
</div>
<br />
<div class="row m-b-30">
    
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Full name
            </th>
            <th>
                Address
            </th>
           @* <th>
                Tỉnh thành
            </th>*@
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.CustomerId
                    </td>
                    <td>
                        <p>@item.FullName</p>
                        <p>@item.Phone</p>
                        <p>@item.Email</p>
                    </td>
                    <td>
                        @item.Address
                    </td>
                  @*  <td>
                        @item.Address
                    </td>*@
                    <td>
                        <a class="btn btn-primary btn-sm" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a>
                        <a class="btn btn-light btn-sm" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Details" asp-route-id="@item.CustomerId">Detail</a>
                        <a class="btn btn-danger btn-sm" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>

                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
<div aria-label="Page navigation example">
    <ul class="pagination">
        <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index" />
    </ul>
</div>
