@model ShopBanDo.Models.Product
@using ShopBanDo.Extension
@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Product> list = ViewBag.SanPham;
    string url = $"/List/{Model.Cat.Alias}-{Model.Cat.CatId}";
}
<section class="shop-details">
    <div class="product__details__pic">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__breadcrumb">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <a asp-controller="Product" asp-action="Index">Shop</a>
                        <span>Product details: @Model.ProductName</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="/images/products/@Model.Thumb">
                                </div>
                            </a>
                        </li>
                       
                    </ul>
                </div>
                <div class="col-lg-6 col-md-9">
                    <div class="tab-content">
                        @*multi picture*@
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="~/images/products/@Model.Thumb" alt="@Model.Alias">
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="~/images/products/@Model.Thumb" alt="">
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="/Customerassets/img/shop-details/product-big.png" alt="">
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-4" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="/images/products/@Model.Thumb" alt="@Model.Alias">
                                @*Video sản phẩm*@
                                <a href="https://www.youtube.com/watch?v=8PJ3_p7VqHw&list=RD8PJ3_p7VqHw&start_radio=1" class="video-popup"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product__details__content">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="product__details__text">
                        <h4>@Model.ProductName</h4>
                        @*<div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span> - 5 Reviews</span>
                            </div>*@
                        <h3>@Extension.ToVnd(Model.Price.Value) <span>@Model.Discount</span></h3>
                        <h4>
                            Description
                        </h4>
                        @Html.Raw(Model.ShortDesc)
                        @* <div class="product__details__option">
                                <div class="product__details__option__size">
                                    <span>Size:</span>
                                    <label for="xxl">
                                        xxl
                                        <input type="radio" id="xxl">
                                    </label>
                                    <label class="active" for="xl">
                                        xl
                                        <input type="radio" id="xl">
                                    </label>
                                    <label for="l">
                                        l
                                        <input type="radio" id="l">
                                    </label>
                                    <label for="sm">
                                        s
                                        <input type="radio" id="sm">
                                    </label>
                                </div>
                                <div class="product__details__option__color">
                                    <span>Color:</span>
                                    <label class="c-1" for="sp-1">
                                        <input type="radio" id="sp-1">
                                    </label>
                                    <label class="c-2" for="sp-2">
                                        <input type="radio" id="sp-2">
                                    </label>
                                    <label class="c-3" for="sp-3">
                                        <input type="radio" id="sp-3">
                                    </label>
                                    <label class="c-4" for="sp-4">
                                        <input type="radio" id="sp-4">
                                    </label>
                                    <label class="c-9" for="sp-9">
                                        <input type="radio" id="sp-9">
                                    </label>
                                </div>
                            </div>*@
                        <div class="product__details__cart__option">
                            @if (Model.UnitslnStock.Value > 0)
                            {
                                <div class="quantity">
                                    <div class="pro-qty">
                                        @*add to cart*@
                                        <input id="txtsoLuong" name="txtsoLuong" type="text" step="1" value="1" min="1">
                                    </div>
                                </div>
                                <a href="#" class="primary-btn add-to-cart"><input hidden asp-for="ProductId" />add to cart</a>
                            }
                            else
                            {
                                <p class="font-weight-bold text-danger">😓 This item currenly out of stock</p>
                            }
                        </div>
                        <div class="product__details__btns__option">
                            <a href="#"><i class="fa fa-heart"></i> add to wishlist</a>
                            <a href="#"><i class="fa fa-exchange"></i> Add To Compare</a>
                        </div>
                        <div class="product__details__last__option">
                            <ul>

                                <li><a href="@url"><span>Product's list:</span> @Model.Cat.CatName</a></li>
                                <li><span>Tag:</span> @Model.Tags</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-5"
                                   role="tab">Description</a>
                            </li>
                            @* <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab">
                                        Customer
                                        Previews(5)
                                    </a>
                                </li>*@
                            @*<li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-7" role="tab">
                                        Additional
                                        information
                                    </a>
                                </li>*@
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                <div class="product__details__tab__content">

                                    <div class="product__details__tab__content__item">
                                        <h5>Description</h5>
                                        @Html.Raw(Model.Description)
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Details Section End -->
<!-- Related Section Begin -->
<section class="related spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="related-title">Related products</h3>
            </div>
        </div>

        <div class="row">
            @if (list != null)
            {
                foreach (var item in list)
                {
                    string urlsanpham = $"/{item.Alias}-{item.ProductId}";
                    <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="/images/products/@item.Thumb">
                                @* <span class="label">New</span>*@
                                <ul class="product__hover">
                                    <li><a href="#"><img src="~/Customerassets/img/icon/heart.png" alt=""></a></li>
                                    <li><a href="@urlsanpham"><img src="~/Customerassets/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                    <li><a href="#"><img src="~/Customerassets/img/icon/search.png" alt=""><span>Product detail</span></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6>@item.ProductName</h6>
                                <a href="#" class=""><input hidden asp-for="@item.ProductId" />+ Add To Cart</a>
                                <div class="rating">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <h5>@Extension.ToVnd(item.Price.Value)</h5>

                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</section>
<!-- Related Section End -->
@section Scripts{
    <script>
    $(document).ready(function () {
        $(function () {
            $(".add-to-cart").click(function () {
                var productid = $('#ProductId').val();
                var soLuong = $('#txtsoLuong').val();
                $.ajax({
                    url: '/api/cart/add',
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        productID: productid,
                        amount: soLuong
                    },
                    success: function (response) {
                        if (response.result == 'Redirect') {
                            window.location = response.url;
                        }
                        else {
                            loadHeaderCart(); //Add Product success
                            location.reload();
                        }
                        console.log(response); // log to the console to see whether it worked
                    },
                    error: function (error) {
                        alert("There was an error posting the data to the server: " + error.responseText);
                    }
                });
            });

            @*$(".removecart").click(function () {
                var productid = $(this).attr("data-productid");
                $.ajax({
                    url: "api/cart/remove",
                    type: "POST",
                    dataType: "JSON",
                    data: { productID: productid },
                    success: function (result) {
                        if (result.success) {
                            loadHeaderCart();//Reload lai gio hang
                            location.reload();
                        }
                    },
                    error: function (rs) {
                        alert("Remove Cart Error !")
                    }
                });
            });*@
        });
        function loadHeaderCart() {
            $('#miniCart').load("/AjaxContent/HeaderCart");
            $('#numberCart').load("/AjaxContent/NumberCart");
        }
    });
    </script>
}