@model IEnumerable<ShopBanDo.Models.Role>

@{
    ViewData["Title"] = "Manage access roles";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<p></p>
<p>
    <a asp-action="Create">Create new role</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
            <th>
               Role's name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null) {
            foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.RoleId">Edit</a>
                <a class="btn btn-light btn-sm" asp-action="Details" asp-route-id="@item.RoleId">Detail</a> 
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.RoleId">Delete</a>
               
            </td>
        </tr>
            }
        }
    </tbody>
</table>
