@model ShopBanDo.Models.Page

@{
    ViewData["Title"] = "Confirm delete page: " + Model.PageName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Confirm deteting the page?</h3>
<div>
    <h4>Page</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contents)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Contents)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Thumb)
        </dt>
        <dd class="col-sm-10">


            <img src="~/images/pages/@Model.Thumb" width="200" height="200" />

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Published)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Published)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MetaDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MetaDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MetaKey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MetaKey)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ordering)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ordering)
        </dd>
    </dl>
    
    <form asp-action="Delete" asp-route-id="@Model.PageId">
        <input type="hidden" asp-for="PageId" />
        <input type="submit" value="Confirm deleting" class="btn btn-danger" /> |
        <a asp-action="Index">Back to list</a>
    </form>
</div>
