@model List<ShopBanDo.ModelView.CartItem>
@if (Model != null && Model.Count() > 0)
{
    <div class="harmic-offcanvas-body">
        <div class="minicart-content">
            <div class="minicart-heading">
                <h4 class="mb-0">Cart</h4>
                <a href="#" class="button-close"><i class="pe-7s-close"></i></a>
            </div>
            <ul class="minicart-list">
                @foreach (var item in Model)
                {
                    string url = $"/{item.product.Alias}-{item.product.ProductId}";
                    <li class="minicart-product">
                        <a href="@url" class="product-item_img">
                            <img class="img-full" src="~/images/products/@item.product.Thumb" alt="@item.product.ProductName">
                        </a>
                        <div class="product-item_content">
                            <a class="product-item_title" href="@url">@item.product.ProductName</a>
                            <span class="product-item_quantity">@item.amount x @item.product.Price.Value.ToString("#,##0") VNĐ</span>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="minicart-item_total">
            <span>Total Money</span>
            <span class="ammount">@Model.Sum(x => x.TotalMoney).ToString("#,##0") VNĐ</span>
        </div>
        <div class="group-btn_wrap d-grid gap-2">
            <a href="cart" class="btn btn-secondary btn-primary-hover">View cart</a>
            @if (User.Identity.IsAuthenticated)
            {
            <a href="/checkout" class="btn btn-secondary btn-primary-hover">Payment</a>
            }
            else
            {
                <a href="account/login?returnUrl=/checkout" class="btn btn-secondary btn-primary-hover">Payment</a>
            }
           
        </div>
    </div>
}
else
{
    <div class="harmic-offcanvas-body">
        <div class="minicart-content">
            <div class="minicart-heading">
                <h4 class="mb-0">Cart's empty</h4>
                <a href="#" class="button-close"><i class="pe-7s-close"></i></a>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script>
        $(function () {
            function loadCart() {
                $('#miniCart').load("/AjaxContent/HeaderCart");
                $('#numberCart').load("/AjaxContent/NumberCart");
                window.location = '#';
            };
            $(".update").click(function loadHeaderCart() {
                $('#miniCart').load("/AjaxContent/HeaderCart");
                $('#numberCart').load("/AjaxContent/NumberCart");
                window.location = '#';
            });
            // code xoa san pham khi so luong =0;

            $(".cartItem").click(function () {
                var productid = $(this).attr("data-mahh");
                var soluong = parseInt($(this).val());
                $.ajax({
                    url: "api/cart/update",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        productID: productid,
                        amount: soluong
                    },
                    success: function (result) {
                        if (result.success) {
                            @* loadHeaderCart();*@//Reload lai gio hang
                           @* window.location = 'cart';*@
                        }
                    },
                    error: function (rs) {
                        alert("Cart Update Error !")
                    }
                });
            });

            $(".clear").click(function () {
                $.ajax({
                    url: "api/cart/clear",
                    type: "POST",
                    dataType: "JSON",
                    data: {},
                    success: function (result) {
                        if (result.success) {
                            loadCart();//Reload lai gio hang
                            location.reload();
                        }
                    },
                    error: function (rs) {
                        alert("Remove Cart Error !")
                    }
                });
            });

            $(".removecart").click(function () {
                var productid = $(this).attr("data-mahh");
                $.ajax({
                    url: "api/cart/remove",
                    type: "POST",
                    dataType: "JSON",
                    data: { productID: productid },
                    success: function (result) {
                        if (result.success) {
                            loadCart();//Reload lai gio hang
                            location.reload();
                        }
                    },
                    error: function (rs) {
                        alert("Remove Cart Error !")
                    }
                });
            });
            @* $(".cartItem").click(function () {
                var productid = $(this).attr("data-mahh");
                var soluong = parseInt($(this).val());
                $.ajax({
                    url: "api/cart/update",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        productID: productid,
                        amount: soluong
                    },
                    success: function (result) {
                        if (result.success) {
                            loadHeaderCart();//Reload lai gio hang
                            window.location = 'cart';
                        }
                    },
                    error: function (rs) {
                        alert("Cart Update Error !")
                    }
                });
            });*@
        });
        </script>
        }


