@model ShopBanDo.ModelView.XemDonHang
@{
    var total = Model.ChiTietDonHang.Sum(x => x.Total).Value.ToString("#,##0");
}
<h3>Order Infomation #@Model.DonHang.OrderId</h3>
<br />
<p>Order day: @Model.DonHang.OrderDate</p>
<p>Order Transation: @Model.DonHang.TransactStatus.Status</p>
<p>Total money: <strong> @total VNĐ</strong></p>
<p>Ship Date: @Model.DonHang.ShipDate</p>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Amout</th>
                <th>Price</th>
                <th>Total</th>
            </tr>

            @foreach (var item in Model.ChiTietDonHang)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.Product.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@item.Product.Price</td>
                    <td>@item.Total.Value.ToString("#,##0") VNĐ</td>
                </tr>
            }
        </tbody>
    </table>
</div>

