@model ShopBanDo.Models.Product

@{
    ViewData["Title"] = "Product detail :" + Model.ProductName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" class="breadcrumb-item">List of products</a>
            <span class="breadcrumb-item active">Product details : @Model.ProductName</span>
        </nav>
    </div>
</div>
<div class="card-body">
    <h4 class="card-title">Product details : @Model.ProductName</h4>
    <div class="">
        <table class="m-t-20">
            <tbody>
                <tr>
                    <td>ID:</td>
                    <td>@Model.ProductId</td>
                </tr>
                <tr>
                    <td>Product's name:</td>
                    <td>@Model.ProductName</td>
                </tr>
                <tr>
                    <td>Short description:</td>
                    <td>@Model.ShortDesc</td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td>@Model.Price</td>
                </tr>
                <tr>
                    <td>Discount:</td>
                    <td>@Model.Discount</td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>
                        @if (Model.Active)
                        {
                            <div class="switch m-r-10">
                                <input type="checkbox" id="switch-1" checked="" disabled />
                                <label for="switch-1"></label>
                            </div>
                        }
                        else
                        {
                            <div class="switch m-r-10">
                                <input type="checkbox" id="switch-1" disabled />
                                <label for="switch-1"></label>
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Bestseller:</td>
                    <td>
                        @if (Model.BestSeller)
                        {
                            <div class="switch m-r-10">
                                <input type="checkbox" id="switch-1" checked="" disabled />
                                <label for="switch-1"></label>
                            </div>
                        }
                        else
                        {
                            <div class="switch m-r-10">
                                <input type="checkbox" id="switch-1" disabled />
                                <label for="switch-1"></label>
                            </div>
                        }
                </td>
            </tr>
            <tr>
                <td>HomeFlag:</td>
                <td>
                    @if (Model.HomeFlag)
                    {
                        <div class="switch m-r-10">
                            <input type="checkbox" id="switch-1" checked="" disabled />
                            <label for="switch-1"></label>
                        </div>
                    }
                    else
                    {
                        <div class="switch m-r-10">
                            <input type="checkbox" id="switch-1" disabled />
                            <label for="switch-1"></label>
                        </div>
                    }

                </td>
            </tr>
            <tr>
                <td>Category:</td>
                <td>@Model.Cat.CatName</td>
            </tr>
            <tr>
                <td>Created date:</td>
                <td>@Model.DateCreated</td>
            </tr>
            <tr>
                <td>Modified date:</td>
                <td>@Model.DateModified</td>
            </tr>
            <tr>
                <td>Tilte:</td>
                <td>@Model.Title</td>
            </tr>
            <tr>
                <td>MetaDesc:</td>
                <td>@Model.MetaDesc</td>
            </tr>
            <tr>
                <td>MetaKey:</td>
                <td>@Model.MetaKey</td>
            </tr>
            <tr>
                <td>Tags:</td>
                <td>@Model.Tags</td>
            </tr>

            <tr>
                <td>Profile picture:</td>
                <td>
                  
                    <img  src="~/images/products/@Model.Thumb" width="200" height="200"/>
                </td>
            </tr>
            <tr>
                
                <td>Description:</td>
                <td>@Html.Raw(Model.Description)</td>
            </tr>

        </tbody>
    </table>
</div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit product</a> |
    <a asp-action="Index">Back to List</a>
</div>
