@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<ShopBanDo.Models.Product>
@using ShopBanDo.Extension
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Manage product" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<p></p>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">List of products</a></li>
        <li class="breadcrumb-item">List of products : page @CurrentPage</li>
    </ol>
</nav>
<div class="row m-b-30">
    <div class="col-lg-2">
        <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminProducts" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Create new product</span></a>
    </div>
    <div class="col-lg-2">
            <a  asp-area="Admin" asp-action="ExportToExcel" asp-controller="Exel" class="btn btn-primary">Export to Excel</a>
    </div>
    <div class="col-lg-2">
        <form enctype="multipart/form-data" asp-area="Admin" asp-controller="Exel" asp-action="ImportProducts">
            <input class="btn btn-primary" type="submit" value="Import Product Form Exel" />
            <dl>
                <dt>
                    <label>Upload Excel File:</label>
                </dt>
                <dd>
                    <input type="file" id="batchUsers" name="batchUsers">
                </dd>

            </dl>

        </form>
    </div>
</div>
<br />
<div class="card-body">
    
    <form class="form-sample">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group row">
                    <select class="form-control" id="txtCatID" name="txtCatID" style="min-width: 200px;" asp-items="ViewBag.Danhmuc">
                        <option disabled selected>Select product's category</option>
                        <option value="0">Select all</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <input type="text" id="keyword" name="keyword" class="form-control" placeholder="Search product">
                </div>
            </div>
        </div>
    </form>
</div>
            @*<div class="m-b-10">
                <select class="form-group" id="txtInStock" name="txtInStock" style="min-width: 200px;" asp-items="ViewBag.isInStock">
                    <option value="-1" disabled selected>Chọn tình trạng</option>
                </select>
            </div>*@
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Product's name
            </th>
            <th>
                Category
            </th>
            <th>
                Price
            </th>
            <th>
                Units in stock
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="records_table">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ProductId
                    </td>
                    <td>
                        @item.ProductName
                    </td>
                    <td>
                        @item.Cat.CatName
                    </td>
                    <td>
                        @Extension.ToVnd(item.Price.Value)
                    </td>
                    <td>
                        @item.UnitslnStock
                    </td>
                    <td>
                        @if (item.UnitslnStock.Value > 0)
                        {
                            <label class="badge badge-success">In stock</label>
                        }
                        else
                        {
                            <label class="badge badge-danger">Out of stock</label>
                        }
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-area="Admin" asp-controller="AdminProducts" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                        <a class="btn btn-light btn-sm" asp-area="Admin" asp-controller="AdminProducts" asp-action="Details" asp-route-id="@item.ProductId">Detail</a>
                        <a class="btn btn-danger btn-sm" asp-area="Admin" asp-controller="AdminProducts" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
<div aria-label="Page navigation example">
    <ul class="pagination">
        @*Create asp-route-* * is Variable in url saving CurrentCateid*@
        <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminProducts" asp-route-CatID="@ViewBag.CurrentCateID" asp-action="Index" />
    </ul>
</div>
<br />
@section Scripts{
    <script>
@*Jquery Ajax *@
        $(document).ready(function () {
        @*Co su thay doi ve txtCatId*@
        jQuery("#txtCatID").change(function () {
            var catID = jQuery(this).children(":selected").attr("value");
            catID = parseFloat(catID);
            $('#txtCatID option')
                .removeAttr('selected');
            @*sticky form set new selected when choice *@
           $("#txtCatID > [value=" + catID + "]").attr("selected", "true");
            @* LOC Theo CatID*@
            $.ajax({
                url: '/Admin/AdminProducts/Filtter',
                datatype: "json",
                type: "GET",
                data: {
                    CatID: catID
                },
                async: true,
                success: function (results) {
                    if (results.status == "success") {
                        window.location.href = results.redirectUrl;
                    }
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
        @*Find product*@
        $("#keyword").keyup(function () {
            var strkeyword = $('#keyword').val();
            $.ajax({
                url: '/Admin/Search/FindProduct/',
                datatype: "json",
                type: "POST",
                data: { keyword: strkeyword },
                async: true,
                success: function (results) {
                    $("#records_table").html("");
                    $("#records_table").html(results);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
    });
    </script>

}