@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<ShopBanDo.Models.TinTuc>

@{
    ViewData["Title"] = "Manage news";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<p></p>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item">List of news : page @ViewBag.CurrentPage</li>
    </ol>
</nav>
<div class="row m-b-30">
    <div class="col-lg-8">
        <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminTinTucs" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Create news</span></a>
    </div>
    <div class="col-lg-4 text-right">

    </div>
</div>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Tilte
            </th>
            <th>
                Status
            </th>

            <th>
                IsHot
            </th>
            <th>
                IsNewFeed
            </th>
            <th>
                Created date
            </th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.PostId
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @{
                            if (!item.Published)
                            {
                                <label class="badge badge-danger">Block</label>
                            }
                            else
                            {
                                <label class="badge badge-success">Active</label>
                            }
                        }
                    </td>
                    <td>
                        @{
                            if (!item.IsHot)
                            {
                                
                            }
                            else
                            {
                                <label class="badge badge-success">Hot New</label>
                            }
                        }
                    </td>
                    <td>
                        @{
                            if (!item.IsNewfeed)
                            {
                               
                            }
                            else
                            {
                                <label class="badge badge-success">NewFeed</label>
                            }
                        }
                    </td>
                    <td>
                        @item.CreatedDate.Value.ToShortDateString()
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-area="Admin" asp-controller="AdminTinTucs" asp-action="Edit" asp-route-id="@item.PostId">Edit</a>
                        <a class="btn btn-light btn-sm" asp-area="Admin" asp-controller="AdminTinTucs" asp-action="Details" asp-route-id="@item.PostId">Detail</a>
                        <a class="btn btn-danger btn-sm" asp-area="Admin" asp-controller="AdminTinTucs" asp-action="Delete" asp-route-id="@item.PostId">Delete</a>

                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
<div aria-label="Page navigation example">
    <ul class="pagination">
        <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminTinTucs" asp-action="Index" />
    </ul>
</div>