@model ShopBanDo.Models.Customer

@{
    ViewData["Title"] = "My Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Order> DanhSachDonHang = ViewBag.DonHang;
    var total = DanhSachDonHang.Sum(x => x.Total).Value.ToString("#,##0");
    ShopBanDo.ModelView.ChangePasswordViewModel changePassword = new ShopBanDo.ModelView.ChangePasswordViewModel();
}
<style>
    #form_edit_address{
        font-size: 15px;
        font-family: "Nunito Sans", sans-serif;
        color: #3d3d3d;
        font-weight: 400;
        line-height: 25px;
        margin: 0 0 15px 0;
    }
    #form_edit_address #input_submit{
        margin-left: 20px;
    }

    #show_hide_address {
        box-sizing: border-box;
        padding: 4px 8px;
        border-radius: 4px;
        border: 1px solid white;
        margin-bottom: 10px;
        min-width: 100px !important;
        max-width: 300px !important;
        transition: width 0.1s;
    }

    #show_hide_address:focus-visible {
        outline: none;
    }

    #hide {
        position: absolute;
        height: 0;
        overflow: hidden;
        white-space: pre;
    }
</style>
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home page</a>
                        <span>My Account</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<main class="main-content">
    <div class="account-page-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <ul class="nav myaccount-tab-trigger" id="account-page-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="account-dashboard-tab" data-bs-toggle="tab" href="#account-dashboard" role="tab" aria-controls="account-dashboard" aria-selected="true">Account infomation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="account-orders-tab" data-bs-toggle="tab" href="#account-orders" role="tab" aria-controls="account-orders" aria-selected="false">Order List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="account-details-tab" data-bs-toggle="tab" href="#account-details" role="tab" aria-controls="account-details" aria-selected="false">Change Password</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="account-logout-tab" href="/account/logout" role="tab" aria-selected="false">Log out</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                        <div class="tab-pane fade show active" id="account-dashboard" role="tabpanel" aria-labelledby="account-dashboard-tab">
                            <div class="myaccount-dashboard">
                                <form asp-action="UpdateAddress" id="form_edit_address" style="display = 'none'">
                                    <table id="table_customer">
                                        <tr>
                                            <td colspan="2"><p>Hi, <b>@Model.FullName</b></p></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>Phone number: @Model.Phone</span>
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td style="text-align: left">
                                                <span>Email: @Model.Email</span>
                                            </td>
                                        </tr>
                                        <tr style="border: 1px">
                                            <td style="padding-top: 5px">
                                                Address:<span id="hide"></span><input id="show_hide_address" name="newAddress" readonly type="text" value="@Model.Address" />
                                                <img id="btn" src="~/icon_edit.png" onclick="click_edit_show_form()" height="15px" width="15px" />
                                             </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button id="input_submit" class="btn btn-outline-success" style="display: none">Change Address </button>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-orders" role="tabpanel" aria-labelledby="account-orders-tab">
                            <div class="myaccount-orders">
                                <h4 class="small-title">ORDER LIST</h4>
                                @if (DanhSachDonHang != null && DanhSachDonHang.Count() > 0)
                                {
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <tbody>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Order date</th>
                                                    <th>Shipping date</th>
                                                    <th>Order status</th>
                                                    <th>Detail</th>
                                                    <th>Action</th>
                                                </tr>
                                                @foreach (var item in DanhSachDonHang)
                                                {
                                                    <tr>
                                                        <td><a class="account-order-id" href="javascript:void(0)">#@item.OrderId</a></td>
                                                        <td>@item.OrderDate</td>
                                                        <td>@item.ShipDate</td>
                                                        <td>@item.TransactStatus.Status</td>
                                                        <td>
                                                            <a href="javascript:void(0)" class="xemdonhang" data-madonhang="@item.OrderId">View detail</a>
                                                        </td>
                                                        @if (item.TransactStatusId == 5)
                                                        {
                                                            <td>
                                                                <p href="javascript:void(0)" class="text-muted">Canceled</p>
                                                            </td>   
                                                        }
                                                        else if (item.TransactStatusId == 3 || item.TransactStatusId == 4 || item.TransactStatusId == 6)
                                                        {
                                                            <td>
                                                                <p href="javascript:void(0)" class="text-muted">Cancel order</p>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                <a href="javascript:void(0)" data-target="#confirmModal" data-toggle="modal" class="text-danger" data-madonhang="@item.OrderId">Cancel order</a>
                                                            </td>
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="confirmModalLabel">Are you sure to delete this order</h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                            <a type="button" href="@Url.Action("DeleteOrder", new {id = item.OrderId})" class="btn btn-primary">Save changes</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <hr />
                                        <div id="records_table">

                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <p>No item!</p>
                                }
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-address" role="tabpanel" aria-labelledby="account-address-tab">
                            <div class="myaccount-address">
                                <p>The following addresses will be used on the checkout page by default.</p>
                                <div class="row">
                                    <div class="col">
                                        <h4 class="small-title">BILLING ADDRESS</h4>
                                        <address>
                                            @Model.Address
                                        </address>
                                    </div>
                                    <div class="col">
                                        <h4 class="small-title">SHIPPING ADDRESS</h4>
                                        <address>
                                            @Model.Address
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-details" role="tabpanel" aria-labelledby="account-details-tab">
                            @await Html.PartialAsync("_ChangePasswordPartialView", changePassword)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".xemdonhang").click(function () {
                var madonhang = $(this).attr("data-madonhang")
                $.ajax({
                    url: '/DonHang/Details',
                    datatype: "json",
                    type: "POST",
                    data: { id: madonhang },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });
        function click_edit_show_form() {
            var button_submit = document.getElementById('input_submit');
            var text_readonly = document.getElementById('show_hide_address');
            if (button_submit.style.display === 'none') {
                button_submit.style.display = 'block';
                text_readonly.removeAttribute('readonly');
                text_readonly.style.borderColor = "black";
            }
            else {
                button_submit.style.display = 'none';
                text_readonly.setAttribute('readonly', true);
                text_readonly.style.borderColor = "white";
            }
        }
        // auto resize to value
        const hide = document.getElementById('hide');
        const txt = document.getElementById('show_hide_address');
        resize();
        txt.addEventListener("input", resize);

        function resize() {
            hide.textContent = txt.value;
            width_value = hide.offsetWidth + 30;
            txt.style.width = width_value + "px";
        }

    </script>
}
