@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<ShopBanDo.Models.TinTuc>

@{
    ViewData["Title"] = "Index " + ViewBag.CurrentPage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PageCurrent = ViewBag.CurrentPage;
    int PageNext = PageCurrent + 1;
}
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Blog</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home page</a>
                        <span>Blogs</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog spad">
    <div class="container">
        <div class="row">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    string url = $"/news/{item.Alias}-{item.PostId}";
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="blog__item">   
                            <div class="blog__item__pic set-bg" data-setbg="/images/news/@item.Thumb"></div>
                            <div class="blog__item__text">
                                <span><img src="~/Customerassets/img/icon/calendar.png" alt="@item.Title">@item.CreatedDate.Value.ToShortDateString()</span>
                                <h5>@item.Title</h5>
                                <a href="@url">More</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="product__pagination">
                    @for (int i = 1; i <= ViewBag.Total; i++)
                    {
                    <a class="active" href="/blogs?page=@i">@i</a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>